<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="article" style="margin: 0px 30px">
        <h1 style="margin-bottom: -15px">
            <a id="link" href="<%= entry.url() %>"><%- entry.title() ? entry.title() : "<i>No title</i>" %> »</a>
        </h1>
<%
            if (entry.author()) {
%>
                <h4>by <%= entry.author() %></h4>
<%
            } 
%>
        <div>
            <%- entry.content() %>
        </div>

    </div>
</body>

<script type="text/javascript">
    function markAsRead(feedId, entryId, accessToken) {
        feedId = encodeURIComponent(feedId);
        entryId = encodeURIComponent(entryId);
        accessToken = encodeURIComponent(accessToken);

        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/api/entry/markAsRead/" + feedId + "/" + entryId);
        xhr.send(null);
    }

    window.addEventListener('load', markAsRead('<%= entry.feedId() %>', '<%= entry.id() %>')); 
</script>

</html>
