<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style type="text/css">
        #context-menu {
            background: #eee;
            border: 1px solid black; 
            display: none;
            font-size: 18px;
            left: 0px;
            padding: 5px 10px;
            position: fixed;
            width: 100%;
            z-index: 100;
        }
    </style>

</head>
<body>
    <h1><a href="<%= feed.url() %>"><%- feed.title() %> »</a></h1>

    <div style="width: 100%; border: 1px solid black">
        <ul class="itemlist">
<%
            var entries = feed.entries();
            for (var i = 0; i < entries.length; i++) {
                var entry = entries[i];
                var classRead = !entry.isFresh() ? "read" : "";
%>
                <li class="<%= classRead %>">
                    <a class="entry-link" href="/view/entry?id=<%= encodeURIComponent(entry.id()) %>"
                            title="<%= entry.title() %>" alt="<%= entry.shortSummary() %>"><% 
                    if (entry.title()) { %>
                        <%= entry.strTitle() %><% 
                    } else { %>
                        <i>No title</i><% 
                    } 
%>
                    </a>
                    <span class="small-info"><%= entry.date() %></span>
                </li>
<%
            }
%>
        </ul>
    </div>

    <div id="context-menu"></div>

</body>

<script src="/js/contextmenu.js" type="text/javascript"></script>

<script type="text/javascript">
    attachContextMenu(getLinks('entry-link'), 
        new ContextMenu('context-menu'));
</script>

</html>
