<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><a href="<%= feed.url() %>"><%- feed.title() %></a></h1>

    <div style="width: 100%; border: 1px solid black">
        <ul class="itemlist">
<%
            var entries = feed.entries();
            for (var i = 0; i < entries.length; i++) {
                var entry = entries[i];
                var classRead = !entry.isFresh() ? "read" : "";
%>
                <li class="<%= classRead %>">
                    <a href="/view/entry?id=<%= entry.id() %>"><%= entry.title() %></a>
                        <span class="date"><%= entry.date() %></span>
                </li>
<%
            }
%>
        </ul>
    </div>

</body>
</html>
