<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><a href="<%= feed.url %>"><%= feed.name %></a></h1>

    <div style="width: 100%; border: 1px solid black">
        <ul class="itemlist">
<%
            var entries = feed.getEntries();
            for (var i = 0; i < entries.length; i += 1) {
                var entry = entries[i];
                var classRead = entry.isRead() ? "read" : "";
%>
                <li class="<%= classRead %>">
                    <a href="<%= entry.url %>"><%= entry.name %></a> - 
                        <span class="summary"><%= entry.summary() %></span>
                        <span class="date"><%= entry.date() %></span>
                </li>
<%
            }
%>
        </ul>
    </div>

</body>
</html>
